<footer id="footer" class="page-footer">

	<div class="footer-col">
		<p class="footer-item">
			<a class="footer-link" href="/pointthecompass/">Point the Compass</a>
		</p>
		<p class="footer-item">
			<a class="footer-link" href="/pointthecompass/vote/">Vote</a>
		</p>
	</div>

	<div class="footer-col">
		<p class="footer-item">
			<a class="footer-link" href="/">Cameron Jones</a>
		</p>
		<p class="footer-item">
			<a class="footer-link" href="mailto:cameronrobertjones@gmail.com">cameronrobertjones@gmail.com</a>
		</p>
	</div>

</footer>