{% extends 'ntc/base.html' %}

{% load static %}

{% block head %}

    <title>Point the Compass</title>

{% endblock %}

{% block content %}

  {% csrf_token %}

    <main id="main" class="mdc-top-app-bar--fixed-adjust">

        <div id='banner' class='body-container'>

          <h1 id='banner-title'>POINT THE COMPASS</h1>

          <div id='banner-text'>

            <p>Collaboratively calibrating the political compass</p>

          </div>

        </div>

        <!-- Home sections -->
        <div class='home-section-container'>

          <!-- Vote home section -->
          <div class='home-section'>

            <div class='home-section-icon-container'>

              <span class="material-icons home-icon">
                how_to_vote
              </span>

            </div>

            <div class='home-section-text'>

              <h3 class='home-section-title'>
                <a class='home-section-title' @click="nextTopic">Vote</a>
              </h3>

              <p class='home-section-body'>
                Vote on topics to determine their coordinates.
              </p>



            </div>

          </div>

          <!-- Create home section -->
          <div class='home-section'>

            <div class='home-section-icon-container'>

              <span class="material-icons home-icon">
                add
              </span>

            </div>

            <div class='home-section-text'>

              <h3 class='home-section-title'>
                <a class='home-section-title' @click="toggleCreate">Create</a>
              </h3>

              <p class='home-section-body'>
                Create new topics for other users to vote on.
              </p>

            </div>

          </div>

        </div>

        <!-- Compass -->

        <div class='body-container'>

          <h2 id='compass-title'> THE COMPASS </h2>

          <p id="compass-body"> Below are the mean coordinates for the top 20 topics. </p>

        </div>

        <!-- Compass -->
        <div id='compass-container'>

          <svg id='compass' width="90%" height="90%" @mousedown="compassMousedown" @mouseover="compassMouseover" @mouseup="compassMouseup" @mouseoff="compassMouseoff"@touchmove="compassTouch">

                <rect class='compass-quadrant' id='auth-left'
                      width="50%" height="50%">
                </rect>

                <rect class='compass-quadrant' id='auth-right'
                      width="50%" height="50%" x="50%">
                </rect>

                <rect class='compass-quadrant' id='lib-left'
                      width="50%" height="50%" y="50%">
                </rect>

                <rect class='compass-quadrant' id='lib-right'
                      width="50%" height="50%" x="50%" y="50%">
                </rect>

                <line v-for="index in 20" :key="'h-'+index" :x1="index * 5 + '%'" :x2="index * 5 + '%'" y1="0" y2="100%" stroke="#FFFFFF44">
                </line>

                <line v-for="index in 20" :key="'v-'+index" :y1="index * 5 + '%'" :y2="index * 5 + '%'" x1="0" x2="100%" stroke="#FFFFFF44">
                </line>

                <line y1="50%" y2="50%" x1="0" x2="100%" stroke="#44444488" class="gridline major">
                </line>

                <line x1="50%" x2="50%" y1="0" y2="100%" class="gridline major">
                </line>

            </svg>

            <div class='compass-axes'>

              <div class='compass-axis' id="compass-axis-left">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-left'>
                    Economic</br>Left
                  </span>
                </div>
              </div>

              <div class='compass-axis' id="compass-axis-top">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-top'>
                    Authoritarian
                  </span>
                </div>
              </div>

              <div class='compass-axis' id="compass-axis-right">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-right'>
                    Economic</br>Right
                  </span>
                </div>
              </div>

              <div class='compass-axis' id="compass-axis-bottom">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-bottom'>
                    Libertarian
                  </span>
                </div>
              </div>

            </div>

            <div id="vis-home" class='vega-canvas'></div>

      </div>

       <!-- About -->

      <div class='body-container'>

        <h2 id='compass-title'> ABOUT </h2>

        <p>
          The <a href="https://www.politicalcompass.org/" target="_blank">political compass</a> is an attempt to represent political views
          in a two-dimensional space. The x-axis is the <i>economic scale</i>, with economically left-wing views on the left, and economically right-wing
          views on the right. 
          The y-axis is the <i>social scale</i>, with authoritarian
          views at the top, and libertarian views at the bottom. <b>Point the Compass</b> is an attempt to crowdsource data about what these dimensions mean to different people.
      </p>

      <p>
        When discussing politics, people often disagree about how topics should be defined along poltical dimensions, and what those dimensions themselves mean. This project asks whether it's possible to define a generally accepted political landscape. Hopefully, the project will lead to a better shared understanding of terms like "left wing" and "right wing" and higher agreement on where prominent people and policies lie in this landscape. Alternatively, however, it might indicate that there is fundamental disagreement about how these terms and dimensions should be interpreted.
      </p>

      <p>
        If you have any feedback, feature requests, data analysis ideas, or other thoughts about the project, feel free to send me an email at <a href="mailto:cameronrobertjones@gmail.com">cameronrobertjones@gmail.com</a>.
      </p>

      </div>

    </main>

    {% include 'ntc/footer.html' %}


    {% include 'ntc/notify.html' %}

    {% include 'ntc/search.html' %}

    {% include 'ntc/create.html' %}

    {% include 'ntc/auth.html' %}


{{topics|json_script:"topics"}}

{{user|json_script:"user"}}


{% endblock %}
