<!-- <div id='snackbar-container'> -->
  <div class="mdc-snackbar" :class="notification.type">
    <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
      <div class="mdc-snackbar__label" aria-atomic="false" v-html="notification.labelText">
      </div>
      <div class="mdc-snackbar__actions" aria-atomic="true">
        <button type="button" class="mdc-button mdc-snackbar__action">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label" v-html="notification.actionButtonText"></span>
        </button>
      </div>
    </div>
  </div>
<!-- </div> -->