{% extends 'ntc/base.html' %}

{% load static %}

{% block head %}

    <title>Norm the Compass</title>

{% endblock %}

{% block content %}

  {% csrf_token %}

    <main class="mdc-top-app-bar--fixed-adjust" @mousemove="compassMouseover" @mouseup="compassMouseup">

        <div id='topic-container'>

          <div id='topic-name-container'>

            <div id='topic-name'>
              [[topic.name]]

              <span class="material-icons" id="topic-info-icon"
              :class="{accent: topicInfo}" @click.stop='toggleTopicInfo'>
                info_outline
              </span>

            </div>

            <div id='more-info'>
              <span class="material-icons" id='more-info-icon'
                @click.stop='toggleInstructions' :class="{accent: instructions}">
                help_outline
              </span>
            </div>

          </div>

          <div id='topic-info-container'>

            <div class='topic-catgory-container'>
              <span class="material-icons topic-icon">
                [[get_cat_icon(topic.category)]]
              </span>
              <span class="topic-info-name">
                [[get_cat_name(topic.category)]]
              </span>
            </div>

            <div class='topic-link-container'>
              <span class="material-icons topic-icon">
                link
              </span>
              <span class="topic-info-name">
                <a :href="topic.url" class='topic-info-link'>[[get_url_demo(topic.url)]]</a>
              </span>
            </div>

          </div>

        </div>

        <!-- Compass -->
        <div id='compass-container'>

          <svg id='compass' width="90%" height="90%" @mousedown="compassMousedown" @mouseup="compassMouseup" @mouseoff="compassMouseoff"@touchmove="compassTouch">

                <rect class='compass-quadrant' id='auth-left'
                      width="50%" height="50%">
                </rect>

                <rect class='compass-quadrant' id='auth-right'
                      width="50%" height="50%" x="50%">
                </rect>

                <rect class='compass-quadrant' id='lib-left'
                      width="50%" height="50%" y="50%">
                </rect>

                <rect class='compass-quadrant' id='lib-right'
                      width="50%" height="50%" x="50%" y="50%">
                </rect>

                <line v-for="index in 20" :key="'h-'+index" :x1="index * 5 + '%'" :x2="index * 5 + '%'" y1="0" y2="100%" stroke="#FFFFFF44">
                </line>

                <line v-for="index in 20" :key="'v-'+index" :y1="index * 5 + '%'" :y2="index * 5 + '%'" x1="0" x2="100%" stroke="#FFFFFF44">
                </line>

                <line y1="50%" y2="50%" x1="0" x2="100%" stroke="#44444488" class="gridline major">
                </line>

                <line x1="50%" x2="50%" y1="0" y2="100%" class="gridline major">
                </line>

                <!-- <text x = "0%" y="50%" class="compass-axis-label" text-anchor="start"
                      dx="5px" dy="-0.2em">
                  
                </text>

                <text x = "100%" y="50%" class="compass-axis-label" text-anchor="end"
                      dx="-5px" dy="-0.2em">
                  Right
                </text>

                <text x = "50%" y="0%" class="compass-axis-label" text-anchor="middle"
                      dy="1em">
                  Authoritarian
                </text>

                <text x = "50%" y="100%" class="compass-axis-label" text-anchor="middle"
                      dy="-0.2em">
                  Libertarian
                </text> -->

                <!-- User vote -->
                <circle :cx="valueToCoord(vote.x)" :cy="valueToCoord(-vote.y)" r="5" fill="red" stroke="#44444488">
                </circle>

                <!-- Other votes -->
                <template v-if="mode=='review'">
                  <circle  v-for="vote in topic.info.votes"
                  :cx="valueToCoord(vote.x)" :cy="valueToCoord(-vote.y)" r="5" fill="#00000044" stroke="#00000044">
                  </circle>
                </template>

              <!-- <line v-for="index in 10" :y1="index * 10 + '%'" :y2="index * 10 + '%'" x1="0", x2="100%">
              </line> -->

            </svg>

            <div class='compass-axes'>

              <div class='compass-axis' id="compass-axis-left">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-left'>
                    Economic</br>Left
                  </span>
                </div>
              </div>

              <div class='compass-axis' id="compass-axis-top">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-top'>
                    Authoritarian
                  </span>
                </div>
              </div>

              <div class='compass-axis' id="compass-axis-right">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-right'>
                    Economic</br>Right
                  </span>
                </div>
              </div>

              <div class='compass-axis' id="compass-axis-bottom">
                <div class='compass-label-container'>
                  <span class='compass-axis-label' id='axis-label-bottom'>
                    Libertarian
                  </span>
                </div>
              </div>

            </div>
          
        </div>

        <!-- Topic Detail -->
        <div id='topic-detail-container' class='info-container' v-if="topicInfo"
        v-click-outside="closeInfoPopups">

          <div id='topic-detail'>

            [[topic.description]]

          </div>

        </div>

        <!-- Instructions -->
        <div id='instructions-container' class='info-container' v-if="instructions"
        v-click-outside="closeInfoPopups">

          <div id='instructions'>

            <h3 class="instructions-header">What's the Political Compass?</h3>

            <p class='instructions'>
              The <a href="https://www.politicalcompass.org/" target="_blank">political compass</a> is an attempt to represent political views
              in a two-dimensional space. The x-axis is the <i>economic scale</i>, with economically left-wing views on the left, and economically right-wing
              views on the right (makes sense, right?). 
              The y-axis is the <i>social scale</i>, with authoritarian
              views at the top, and libertarian views at the bottom. Norm the Compass is an attempt to crowdsource data about what these dimensions 
              mean to different people.
            </p>

            <h3 class="instructions-header">How to vote?</h3>

            <p class='instructions'>
            Drag the red dot to where you think the topic belongs on the compass.
            Don't try to think about where other people would place this topic, or where the "correct" location is.
            Put the topic where <i>you</i> think it belongs, based on your interpretation
            of the compass axes.
            </p>

          </div>

        </div>

        <!-- Control container -->
        <div id='control-container'>

          <!-- Inputs -->
          <div id='input-wrapper'>

            <div class='input-container'>

              <label for='x-input' class='ntc-input-label'>X:</label>

              <input class='input form-control ntc-compass-input' id='x-input' type="number" step="0.01" min="-10" max="10" v-model.number="vote.x">

            </div>

            <div class='input-container'>

              <label for='y-input' class='ntc-input-label'>Y:</label>

              <input class='input form-control ntc-compass-input' id='y-input' type="number" step="0.01" min="-10" max="10" v-model.number="vote.y">

            </div>

          </div>

          <!-- Vote Buttons -->
          <div class='button-wrapper' v-if="mode=='vote'">

            <div class='button-container'>

              <button class='btn btn-outline-dark ntc-vote-btn' id='skip-btn'
              @click="skipTopic">
                Skip
              </button>

            </div>

            <div class='button-container'>

              <button class='btn btn-dark ntc-vote-btn' id='submit-btn' @click="submitVote">
                Submit
              </button>

            </div>

          </div>

          <!-- Review Button Container -->
          <div class='button-wrapper' v-else>

            <div class='button-container'>

              <button class='btn btn-outline-dark ntc-vote-btn' id='next-btn' @click="nextTopic">
                Next
              </button>

            </div>

          </div>

        </div>

        <!-- Comment container -->
        <!-- <div id='comment-container' v-if="'info' in topic">

          <ntc-comment v-for="comment in topic.info.comments"
           :text="comment.text" :score="comment.score">
          </ntc-comment> 

        </div> -->

    {% include 'ntc/notify.html' %}

    {% include 'ntc/search.html' %}

    {% include 'ntc/create.html' %}

    {% include 'ntc/auth.html' %}

    </main>

{{topic|json_script:"topic"}}

{{user|json_script:"user"}}


{% endblock %}